@media screen and (min-width: 1024px) {
  .stats.is-desktop {
    display: flex;
    gap: 15px;
  }

  .filter.is-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.filter-title-dropdown {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 14px;
}

.shadow {
  display: flex;
  /* or inline-flex */
  justify-content: center;
  background-color: #000;
  box-shadow: 0px 0px 6px #000;
  border-radius: 2%;
  overflow: hidden;
  position: relative;
}

.charts {
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}

.charts-half {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  justify-content: center;
  flex-basis: 50%;
}

.chart {
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.dropdown-container {
  display: flex;
  width: 15%;
  margin-right: 0.75em;
  margin-left: 0.75em;
  // flex: 1 1 0px;
}

.dropdown-filter {
  margin-right: 10px;
  flex: 0 0 20%;
}

.dropdown-filter-menu {
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bg-gradient-default {
  background: linear-gradient(87deg, #111e3a, #0d0d31) !important;
}
