.date-time-picker {
  input,
  button {
    font: inherit;
    color: #000;
  }

  .react-datetime-picker__wrapper {
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    padding-left: calc(0.75em - 1px);
  }

  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }

  .react-datetime-picker {
    height: 40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    &__content {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      align-items: stretch;
    }
  }
}
