/*! CSS Used from: https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css */

.input,
.textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
}

.input,
.select select,
.textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.form {
  flex: 1;
  display: block;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

.section {
  padding: 1.5rem 1.5rem;
}

.submit-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-success-container {
  height: 100%;
  padding: 0;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-success-icon {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

.button,
.input,
.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.button:active,
.button:focus,
.input:active,
.input:focus,
.select select:active,
.select select:focus {
  outline: 0;
}

p {
  margin: 0;
  padding: 0;
}

input,
select {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

input,
select {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #363636;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

.has-text-grey {
  color: #7a7a7a !important;
}

.is-hidden {
  display: none !important;
}

.is-marginless {
  margin: 0 !important;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #3273dc;
  color: #363636;
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}

.button.is-link:hover {
  background-color: #276cda;
  border-color: transparent;
  color: #fff;
}

.button.is-link:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-link:active {
  background-color: #2366d1;
  border-color: transparent;
  color: #fff;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.input,
.select select {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.input::-moz-placeholder,
.select select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input::-webkit-input-placeholder,
.select select::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input:-moz-placeholder,
.select select:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input:-ms-input-placeholder,
.select select:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input:hover,
.select select:hover {
  border-color: #b5b5b5;
}

.input:active,
.input:focus,
.select select:active,
.select select:focus {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.input {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.5em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #3273dc;
  right: 1.125em;
  z-index: 4;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
}

.select select::-ms-expand {
  display: none;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #363636;
}

.select.is-dark select {
  border-color: #363636;
}

.select.is-dark select:hover {
  border-color: #292929;
}

.select.is-dark select:active,
.select.is-dark select:focus {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.select.is-fullwidth {
  width: 100%;
}

.select.is-fullwidth select {
  width: 100%;
}

.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 769px), print {
  .field.is-horizontal {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .field-label {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 769px), print {
  .field-label {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 1.5rem;
    text-align: right;
  }

  .field-label.is-normal {
    padding-top: 0.375em;
  }
}

// .required label {
//   font-weight: bold;
// }

.required label:after,
.required-toggle:after {
  color: #e32;
  content: "*";
  display: inline;
}

@media screen and (min-width: 769px), print {
  .field-body {
    display: flex;
    flex-basis: 0;
    flex-grow: 5;
    flex-shrink: 1;
  }

  .field-body .field {
    margin-bottom: 0;
  }

  .field-body > .field {
    flex-shrink: 1;
  }

  .field-body > .field:not(.is-narrow) {
    flex-grow: 1;
  }
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.card {
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

@media screen and (min-width: 769px), print {
  .column.is-full {
    flex: none;
    width: 100%;
  }
}

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:last-child {
  margin-bottom: -0.75rem;
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem);
}

.columns.is-multiline {
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .columns.is-desktop {
    display: flex;
  }

  .columns.is-desktop > * {
    flex-basis: 100%;
    width: 50%;
  }
}

.validation-error {
  color: #e61111 !important;
  display: block;
  font-size: 0.9em;
  margin-top: 0.25rem;
}

/*! CSS Used from: https://ff6wc.com/static/bulma-switch.min.css */
.switch[type="checkbox"] {
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;
}

.switch[type="checkbox"]:focus + label::after,
.switch[type="checkbox"]:focus + label::before,
.switch[type="checkbox"]:focus + label:after,
.switch[type="checkbox"]:focus + label:before {
  outline: 1px dotted #b5b5b5;
}

.switch[type="checkbox"] + label {
  position: relative;
  display: initial;
  font-size: 1rem;
  line-height: initial;
  padding-left: 3.5rem;
  padding-top: 0.2rem;
  cursor: pointer;
}

.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 4px;
  background: #b5b5b5;
  content: "";
}

.switch[type="checkbox"] + label::after,
.switch[type="checkbox"] + label:after {
  display: block;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-radius: 4px;
  background: #fff;
  transition: all 0.25s ease-out;
  content: "";
}

.switch[type="checkbox"]:checked + label::before,
.switch[type="checkbox"]:checked + label:before {
  background: #00d1b2;
}

.switch[type="checkbox"]:checked + label::after {
  left: 1.625rem;
}

.switch[type="checkbox"].is-thin + label::before,
.switch[type="checkbox"].is-thin + label:before {
  top: 0.54545rem;
  height: 0.375rem;
}

.switch[type="checkbox"].is-thin + label::after,
.switch[type="checkbox"].is-thin + label:after {
  box-shadow: 0 0 3px #7a7a7a;
}

.switch[type="checkbox"].is-link:checked + label::before,
.switch[type="checkbox"].is-link:checked + label:before {
  background: #3273dc;
}

/*! CSS Used from: https://ff6wc.com/static/bulma-slider.min.css */
input[type="range"].slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 1rem 0;
  background: 0 0;
  touch-action: none;
}

input[type="range"].slider.is-fullwidth {
  display: block;
  width: 100%;
}

input[type="range"].slider:focus {
  outline: 0;
}

input[type="range"].slider:not([orient="vertical"]).has-output {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - (4.2rem));
}

input[type="range"].slider:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="range"].slider:not([orient="vertical"]) {
  min-height: calc((1rem + 2px) * 1.25);
}

/*! CSS Used from: https://ff6wc.com/static/style.css */
.card-header {
  align-items: center;
  background-color: #4a4a4a;
  color: #fff;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.75em 1em;
}

.slider-text {
  width: 3rem;
  display: inline-block;
  margin-left: 0.75rem;
  vertical-align: middle;
  padding: 0.4rem 0.3rem 0.4rem 0.3rem;
  font-size: 0.75rem;
  text-align: center;
}

.invisible-help {
  height: 0.25rem;
  visibility: hidden;
}

.content-tab {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/*! CSS Used from: https://ff6wc.com/custom/static/style.css */
.preview-label {
  font-size: 0.95rem;
}

@media screen and (min-width: 769px) {
  .preview-label {
    height: 0;
  }
}
